.artists-container{
    display:flex;
    justify-content: space-around;
    width:80%;
    margin:0 auto;

    .artist{
        width:40%;
        text-align:center;

        & img{
            width:100%;
        }

        & .bio {	
            .font-format()
        }	
    }

}
